<li class="card up" data-rank=<%= "A" %> data-suit=<%= @suit %>  data-pile=<%= @suit<>"s" %> data-selected=<%= @pop == @suit %> data-played="true">
    <div class="ace <%= @suit %>">
    <div class="corner top">
    <span class="rank"><%= "A" %></span>
    <span class="suit"></span>
    </div>
    <span class="suit middle_center"></span>
    <div class="corner bottom">
    <span class="rank"><%= "A" %></span>
    <span class="suit"></span>
    </div>
    </div>
</li>
